<ion-view title="Search" hide-nav-bar="true" id="page2" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="search-container1">
      <form id="search-form2" class="list">
        <label class="item item-input searchBar" id="search-search1" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="" type="search">
        </label>
      </form>
    </div>
    <div id="search-container2" class="filterDiv">
      <button class="button button-stable button-small button-outline filterButton" ng-click="openModal()">Date</button>
      <button id="search-button7" class="button button-stable button-small button-outline filterButton">Distance</button>
      <button id="search-button9" class="button button-stable button-small button-outline filterButton">Filters</button>
    </div>
    <div id="search-container4" class="hiddenScrollBar">
      <div id="search-container3" class="cardContainer">
        <div class="list card" id="search-card22">
          <ion-item class="item-icon-left" id="search-list-item5" style="">
            <i class="icon ion-ionic"></i>Item</ion-item>
          <div class="item item-body" id="search-list-item-container4" style="">
            <div id="search-markdown5" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="list card" id="search-card24">
          <ion-item class="item-icon-left" id="search-list-item8" style="">
            <i class="icon ion-ionic"></i>Item</ion-item>
          <div class="item item-body" id="search-list-item-container6" style="">
            <div id="search-markdown7" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="list card" id="search-card23">
          <ion-item class="item-icon-left" id="search-list-item7" style="">
            <i class="icon ion-ionic"></i>Item</ion-item>
          <div class="item item-body" id="search-list-item-container5" style="">
            <div id="search-markdown6" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="list card" id="search-card25">
          <ion-item class="item-icon-left" id="search-list-item11" style="">
            <i class="icon ion-ionic"></i>Item</ion-item>
          <div class="item item-body" id="search-list-item-container8" style="">
            <div id="search-markdown9" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>